*{
    margin: 0;
    padding: 0;
}
.main{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: linear-gradient(141deg,rgb(27, 152, 255),rgb(256, 43, 255));
    z-index: -1000;
}
.header{
    width: 80vw;
    height: 50px;
    border-radius: 10px;
    background: white;
    margin: 20px auto 5px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
@media (max-width: 760px){
    .header{
        height: 100px;
        flex-direction: column;
        justify-content: space-around;
    }
}
.header p{
    text-decoration: none;
    margin-left: 50px;
    color: rgb(82, 82, 82);
    font-size: 1.4rem;
    font-weight: 700;
    letter-spacing: 0.05rem;
}
.header .search{
    display: flex;
    align-items: center;
    margin-right: 50px;
}
.header .search p{
    margin-right: 10px;
    color: rgb(82, 82, 82);
    font-size: 1.1rem;
    font-weight: 700;
}
.header .search input{
    width: 200px;
    height: 30px;
    outline: none;
    padding-left: 10px;
}
.section{
    width: 80vw;
    height: 50px;
    margin: 10px auto;
    display: flex;
    color: white;
    font-size: 1.1rem;
    font-weight: 600;
    justify-content: space-between;
    align-items: center;
}

/* main box */
.mainbox{
    width: 80vw ;
    height: 75vh;
    background: white;
    margin: auto;
    border-radius: 10px;
}
.mainbox .city{
    text-align: center;
    font-size: 3rem;
    color: rgb(82, 82, 82);
    padding-top: 20px;
}
.mainbox .temp{
    text-align: center;
    font-size: 10rem;
    padding-top: 20px;
    font-weight: 700;
}
.mainbox .date{
    text-align: center;
    padding-top: 20px;
    opacity: 0.7;
    font-size: 1.2rem;
}
.mainbox .weather{
    text-align: center;
    padding-top: 20px;
    font-size: 1.5rem;
}
.mainbox .hiLow{
    text-align: center;
    padding-top: 20px;
    font-size: 1.5rem;
}
